<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Servicios</title>
	<link rel="shortcut icon" href="../img/favicon.png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/styles.css">
	<div class="encabezado_box--white contenedor-grid">
		<p>Consultas al 1525850111</p>
	</div>
</head>



<!-- <nav>
		<a href="../index.html">
			<img src="../img/almanails.png" alt="logo de alma nails">
		</a>
		<ol>
			<li><a href="nosotros.html">Nosotros</a></li>
			<li><a href="servicios.html">Servicios</a></li>
			<li><a href="ubicacion.html">Ubicación</a></li>
			<li><a href="turnos.html">Turnos</a></li>
			<li><a href="contacto.html">Contacto</a></li>
		</ol>
	</nav> -->


<header class="navbar navbar-expand-lg bg-light">
	<div class="container">
		<a href="../index.html">
			<img src="../img/almanails.png" alt="logo de alma nails">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<nav class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="../views/nosotros.html">Nosotros</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="servicios.html">Servicios</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="ubicacion.html">Ubicación</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="turnos.html">Turnos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="contacto.html">Contacto</a>
				</li>
			</ul>
		</nav>
	</div>
</header>



<body>

	<h1 class="left">Servicios</h1>


	<div class="w-100 img">
		<img class="img" src="../img/picksnails/img1.jpeg" alt="">
		<img class="img" src="../img/picksnails/img2.jpeg" alt="">
		<img class="img" src="../img/picksnails/img3.jpeg" alt="">
		<img class="img" src="../img/picksnails/img4.jpeg" alt="">
		<img class="img" src="../img/picksnails/img5.jpeg" alt="">
	</div>
	<!-- <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="../img/picksnails/img1.jpeg" class="d-block w-25" alt="img1">
				</div>
				<div class="carousel-item">
					<img src="picksnails/img2.jpeg" class="d-block w-25" alt="img2">
				</div>
				<div class="carousel-item">
					<img src="" class="d-block w-25" alt="img3">
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div> -->


		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>


<footer class="w-100">
	<a href="https://www.instagram.com/almanailsok/" target="_blank">
		<img class="iconIg" src="../img/logoig.png" alt=""></a>

	<a href="https://www.facebook.com/almanailsok" target="_blank">
		<img class="iconFb" src="../img/logofb.png" alt=""></a>
</footer>

</body>


</html>