<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Alma Nails</title>
	<link rel="shortcut icon" href="../img/favicon.png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/styles.css">
	<div class="encabezado_box--white">
		<p>Consultas al 1525850111</p>
	</div>
</head>


<body>
	<!-- <nav>
		<a href="../index.html">
			<img src="../img/almanails.png" alt="logo de alma nails">
		</a>
		<ol>
			<li><a href="nosotros.html">Nosotros</a></li>
			<li><a href="servicios.html">Servicios</a></li>
			<li><a href="ubicacion.html">Ubicación</a></li>
			<li><a href="turnos.html">Turnos</a></li>
			<li><a href="contacto.html">Contacto</a></li>
		</ol>
    </nav>  -->


	<!-- <nav>
		<a href="index.html">
			<img src="img/almanails.png" alt="logo de alma nails">
		</a>
		<ol>
			<li><a href="views/nosotros.html">Nosotros</a></li>
			<li><a href="views/servicios.html">Servicios</a></li>
			<li><a href="views/ubicacion.html">Ubicación</a></li>
			<li><a href="views/turnos.html">Turnos</a></li>
			<li><a href="views/contacto.html">Contacto</a></li>
		</ol>
	</nav> -->


	<header class="navbar navbar-expand-lg bg-light">
		<div class="container">
			<a href="../index.html">
				<img src="../img/almanails.png" alt="logo de alma nails">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<nav class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="../views/nosotros.html">Nosotros</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../views/servicios.html">Servicios</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="ubicacion.html">Ubicación</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="turnos.html">Turnos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="contacto.html">Contacto</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>




	<h1 class="left">Ubicación</h1>

	<section>
		<div>
			<iframe class="w-100"
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.5153502958406!2d-58.45816468599994!3d-34.61641488045617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccbc9aee838e5%3A0x8e1904d40d189c05!2sAlma%20Nails!5e0!3m2!1ses-419!2sar!4v1662740276156!5m2!1ses-419!2sar"
				width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
				referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</section>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>


<footer>
	<a href="https://www.instagram.com/almanailsok/" target="_blank">
		<img class="iconIg" src="../img/logoig.png" alt=""></a>

	<a href="https://www.facebook.com/almanailsok" target="_blank">
		<img class="iconFb" src="../img/logofb.png" alt=""></a>
</footer>
</body>

</html>